<p id="notice"><%= notice %></p>

<p>
  <b>Título:</b>
  <%= @article.title %>
</p>

<p>
  <b>Autor:</b>
  <%= @article.author.name %>
</p>

<p>
  <b>Body:</b>
  <%= @article.body %>
</p>


<%= link_to 'Editar', edit_article_path(@article) %> |
<%= link_to 'Voltar', articles_path %>
