<!DOCTYPE html>
<html>
<head>
  <title>Newvision</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="header">
    <div class="struct">
      <div id="logo"><%= link_to "New vision","/" %></div>
      <ul id="main_menu" class="inline_list">
        <li><%= link_to "Principal","/" %></li>
        <li><%= link_to "Sobre", "/about" %></li>
        <li><%= link_to "Contato", "/contact" %></li>
      </ul>
    </div>
  </div>
  <div id="content" class="struct">
    <%= yield %>
  </div>
  <div id="footer" class="struct">
    Tecnologias: 
    <ul class="inline_list"> 
      <li><%= link_to "RoR",  "http://www.rubyonrails.org", :title => "Ruby on Rails" %></li>
      <li><%= link_to "HTML 5", "http://www.w3.org/TR/html5/", :title => "HTML 5" %></li>
      <li><%= link_to "Heroku", "http://www.heroku.com/", :title => "Heroku" %></li>
    </ul>
    <p>
      Criado por Philip Sampaio como parte dos trabalhos de Ferramentas Web e Aspectos Legais e éticos do marketing digital. Matéria ministrada pelo professor
      André Luis.<br />
    </p>
  </div>
</body>
</html>
